body
{
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-size: 100%;
    font-family: STHeiti;
    line-height: 3em;
    color: #999;
}
form#settingDetail
{
    display: block;
    background: #e6e6e6;
    width: 700px;
    padding: 30px 60px 0px;
    margin: 0px auto;
    border: 1px solid #ccc;
}
input[type=radio], input[type=checkbox]
{
    position: relative;
    top: -2px;//chrome align checkbox and radio with text
}
input[type=text]
{
    width: 300px;
}
input[name=searchEnginePOST]
{
    width: 30px;
}
span#OK, span#CANCEL
{
    line-height: 6em;
    cursor: pointer;
    margin: 144px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;

}